/* 
    Fuentes
*/

@font-face{
    font-family: "Avenir";
    src: url('../fonts/Avenir-Book.ttf');
}

/* Reseteo */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* General */

@media(max-width:440px){
    html{
        font-size: 20px;
    }
}

body{
    font-family: "Avenir", sans-serif;
    color: #67666a;
}
img{
    max-width: 100%;
}

.hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes heroAnimation {
    0%{
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12%{
        opacity: 1;
    }
    25%{
        transform: scale(1.2);
    }
    75%{
        opacity: 0;
        transform: scale(1.1);
    }
    100%{
        opacity: 0;
    }
}

.hero div{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
    animation: heroAnimation 18s infinite; 
}

.hero div:nth-child(1){
    background-image: url('../img/front1.jpg');

}
.hero div:nth-child(2){
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}
.hero div:nth-child(3){
    background-image: url('../img/front3.jpg');
    animation-delay: 18s;
}

.hero .hero__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 20%;
    height: auto;
}

.hero .hero__down{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;    
}

@media(max-width:720px){
    .hero .hero__logo{
        width: 40%;
    }
    .hero .hero__down{
        width: 20%;
    }
}

/*
    Header
*/
header{
    background-color: rgb(244, 253, 253);
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    transition: 400ms all ease-in-out;
}

header.transparent {
    background-color: transparent;
    box-shadow: none;
}

header img{
    height: 60px;
    width: auto;
}
header nav a{
    color: #232225;
    font-weight: normal;
    margin-left: 1em;
    transition: 150ms ease-in-out all;
}

header.transparent nav a{
    color: rgba(255, 255, 255, 0.9);
}


header nav a.active,
header nav a:hover{
    color: #a97c50;
    font-size: x-large;
    font-weight: bold;
}

header.transparent nav a.active,
header.transparent nav a:hover{
    color:white;
}

/*Layout*/
.primera{
    margin-top: 100vh;
}